.missing{
    text-align: center;
    margin: 150px auto;
    font-size: .7rem;
    color: #646464;
}
.missing img{
    width:55px;
    height:55px;
    margin-bottom: 20px;
}
.mg-top {
    margin-top: .5rem;
}
/*************goodsDetails style start******************/
.topimg{
    width:100%; 
    height: 14rem;
    background: #eaeaea url("http://static.hpbanking.com/xg/uploads/files/cd54d9d34c0170b97c1e0e80cd52858a-167-124.png") center center no-repeat;
    background-size: 4.2rem 3.1rem;   
}
.topimg img{
    width:100%;
    height:14rem;
}
.introfont{
    padding: .75rem 1rem .5rem;
    background: #fff;
    /*line-height: 1rem;*/
}
.introfont .titleintro{
    color: #323232;
    font-size: .75rem;
    font-weight: 500;
}
.introfont .price{
    margin:0.25rem 0;
    font-size: 20px;
}
.introfont .nowprice{
    font-size: 1rem;
    color: #f1601f;
}
.introfont .pastprice{
    margin-left: 0.25rem;
    color: #969696;
    font-size: 13px;
}
.introfont .pastprice #pastpriceNum{
    text-decoration: line-through;
}
.voucher{
    margin: .375rem 0;
    font-size: 13px;
    color: #969696;
}
.voucher #voucherMoney{
    color: #f1601f;
}
.user{
    margin: 0.35rem 0;
}
.user .user-img{
    display: inline-block;
    width:1.6rem;
    height:1.6rem;
    vertical-align: middle;
}
.user .user-img img{
    width: 100%;
    height:100%;
    border-radius: 50%;
    border: none;
}
.user .user-font{

    display: inline-block;
    font-size: 12px;
    color: #323232;
}
.piclist ul li{
   /* width:100%;
    height:14rem;*/
    margin-top: .5rem;
}
.piclist ul li img{
    width: 100%;
    height: auto;
}
#ok{
    display: none;
}
.jx-pop-content .content-title{
    padding-left: 1rem;
}
.detail-txt {
    font-size: .75rem;
    color: #323232;
    word-break: break-all;
}
.content-price {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding-top: .65rem;
    padding-bottom: .65rem;
    font-size: 0.8rem;
}
.content-price .money {
    color: #f1601f;
    font-size: 1rem;
    display: inline-block;
    margin-left: .5rem;
    line-height: 1rem;
}
.bbottom {
    border-bottom: 1px solid #eaeaea;
}
.detail-type {
    margin-top: .5rem;
    overflow: hidden;
}
.piclist {
    margin-bottom: 2.5rem;
}
.orange-btn {
    display: none;
}
/*************goodsDetails style end******************/
