<div class="swiper-wrapper">
    {{#each this}}
        <div class="swiper-slide">
            <!-- <a class="swiper-slide external" href=""> -->
                <img class="J_img_link" src="{{picPath}}" alt="" id={{id}}>
            <!-- </a> -->
        </div>
    {{/each}}
</div>
<div class="swiper-pagination"></div>
