.missing{
    text-align: center;
    margin: 150px auto;
    font-size: 14px;
    color: #323232;
}
.missing img{
    width:55px;
    height:55px;
    margin-bottom: 20px;
}
/*******************myGoods style start************************/
.content{
}
#upimgpre{
    /*width: 100%;*/
    height:14rem;
    background-color: #f2f2f2;
    /*overflow: hidden;*/
}
.swiper-pagination{
    position: absolute;
    width: 100%;
    bottom: 0.5rem;
    left: 0;
}
.preup{
    display: block;
    /*float: left;*/
    /*margin:0.5rem 0;*/
    /*width:100%;*/
    height:15rem;
    position: relative;
}
.preup img{
    width: 100%;
    height:100%;
    border:0 !important;
}
.swiper-pagination-bullet-active{
    background: #fff;
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet{
    border: 1px #fff solid;
}
.swiper-container .deletepicbtn{
    position: absolute;
    top:0.6rem;
    right:0.6rem;
    display: block;
    width:2rem;
    height:2rem;
    background-color: transparent;
    background-image: url("http://static.hpbanking.com/xg/uploads/files/ee74628766237f9acfac25ed33446102-80-80.png");
    background-size:100% 100% ;
    z-index: 1000;
    display: none;
}
.content-block{
    margin:0;
    padding: 0;
    margin-bottom: 2.5rem;
}
.goodsList{
    height:6.5rem;
    width: 100%;
    margin-bottom: 10px;
    padding: .75rem .75rem 0;
    font-size: 13px;
    background-color: #fff;
    transition-property: width, height;
    transition-duration:0.3s,0.1s;
}
.listview .goodsList:last-child{
    margin-bottom: 5.5rem;
}
.upperBox{
    height:58%;
    padding-bottom: 30px;
    border-bottom: 1px solid #eaeaea;
}
.upperBox .upperBox-left{
    float: left;
    width: 2.75rem;
    height: 2.75rem;
    margin-right: 0.75rem;
    display: inline-block;
    vertical-align: top;
    background: #eaeaea url("http://static.hpbanking.com/xg/uploads/files/28fa232142d5ee22a3b325758e044ec9-93-69.png") center center no-repeat;
    background-size: 2.3rem 1.6rem;
}
.upperBox .upperBox-left img{
    height:100%;
    width: 100%;
}
.upperBox .upperBox-right{
    overflow: hidden;
    height: 2.75rem;
    position: relative;
}
.upperBox a {
    color: #646464;
}
.upperBox .upperBox-right .viewFont{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.upperBox-right .viewFont .money{
    float: left;
    color: #323232;
    font-size: .6rem;
    font-weight: 500;
}
.upperBox-right .viewFont .status{
    color: #48b07a;
    position: absolute;
    right:0;
}
.upperBox-right .viewFont .status.over{
    color: #bfbfbf;
}
.upperBox .upperBox-right .titleFont{
    overflow: hidden;
    font-size: .6rem;
    color: #646464;
    text-overflow: ellipsis;
}
.downBox{
    color: #323232;
    line-height: 45px;
    display: -webkit-flex; /* Safari */
    display: flex;
}
.downBox div{
    width:33%;
    text-align: center;
    position: relative;
    font-weight: 500;
}
.downBox div:before{
    content: "";
    background-color: #ebebeb;
    width:1px;
    height:26px;
    position: absolute;
    top:10px;
    left:100%;
}
.downBox div:last-child:before{
    width:0;
}
.downBox div a{
    color: #323232;
}
.icon-zc-add:before{
    content: "";
    background: url("http://static.hpbanking.com/xg/uploads/files/be5cb26ff782da5b457d6c8d8e75e037-44-44.png") no-repeat;
    background-size:100% 100%;
    width:1.1rem;
    height:1.1rem;
    display: block;
}
/*下拉刷新样式重新设计*/
.pull-to-refresh-layer{
    display: none;
    height:1.5rem;
}
.infinite-scroll-preloader{
    display: none;
}
/*底部加号*/
.addfunc{
    position: fixed;
    bottom:2.75rem;
    z-index: 5000;
    width: 100%;
    padding-right: 0.2rem;
    text-align: -webkit-right;
    pointer-events:none;
}
.addfunc a.addicon{
    display: block;
    width:2.75rem;
    height:2.75rem;
    background-image: url("http://static.hpbanking.com/xg/uploads/files/673e1d42e1e717c20b49bba2ae91e007-110-110.png");
    background-size:100% 100%;
    pointer-events:auto;
}
.addfunc a.returnTopm{
    display: none;
    width:2.75rem;
    height:2.75rem;
    background-image: url("http://static.hpbanking.com/xg/uploads/files/25e612a62967ae2e0286626e9e3316fe-110-110.png");
    background-size:100% 100%;
    pointer-events:auto;

}
/*******************myGoods style end************************/
/*******************myUpload style start************************/
#myUpload .content{
}
.uploadpic{
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    margin: auto;
    display: block;
    color: #323232;
}
.bgc{
    width: 3rem;
    height:3rem;
    background-image: url(http://static.hpbanking.com/xg/uploads/files/58e22b59e2e43baac895ac4fe127e261-94-94.png);
    background-size:100% 100%;
    position: absolute;
    bottom: 0.75rem;
    left: 0.75rem;
}
.content .upimg{
    width:2.5rem;
    height:2.5rem;
    position: absolute;
    bottom: 0.75rem;
    left:0.75rem;
    z-index: 1200;
}
.content .upimg .outbox-img{
    position: absolute;
    height:100%;
    width: 100%;
    pointer-events: none;
    z-index: 999;
}
.content .upimg .outbox-img img{
    display: block;
    width: 100%;
    height:100%;
    pointer-events: none;
}
#new-form input{
    padding:0.5rem 0;
    opacity: 0;
    width: 100%;
    height:100%;
    display: none;
    z-index: 998;
}
#new-form input.imgget{
    display: block;
}
.form-Controls .list-block{
    margin:0 0 2.2rem;
}
.form-Controls ul li{
    padding: 0 0.75rem 0 0 ;
}
.form-Controls .list-block .item-title.label{
    width: 23%;
}
.form-Controls ul li,
.form-Controls ul li input[type="text"]
{
    font-size: 0.7rem;
}
.form-Controls .list-block .item-content,
.form-Controls .list-block .item-inner{
    min-height: 2.75rem;
}
.form-Controls .list-block .item-media + .item-inner{
    margin-left: 0.5rem;
}
.form-Controls li .listtitle{
    position: absolute;
    top:1rem;
    margin-left: 0.5rem;
}
.form-Controls .list-block .item-link.addmore .item-inner{
    background-image: none;
}
.form-Controls .list-block .item-link .item-inner{
    background-image: url('http://static.hpbanking.com/xg/uploads/files/5f7a966fde0e92c616cebd1b9deab316-44-44.png');
}
.icon.icon-addgreen{
    width:1.45rem;
    height:1.45rem;
    background-image: url("http://static.hpbanking.com/xg/uploads/files/a1d257662fec8b289b36a3bf34f040ce-44-44.png");
}
.icon.icon-reduce{
    margin-top: 2.025rem;
    width:1.45rem;
    height:1.45rem;
    background-image: url("http://static.hpbanking.com/xg/uploads/files/580779b011c5a0f8d314380b75afd816-44-44.png");
}
#moreContro{
    position: relative;
    padding:0 0.75rem;
    overflow: hidden;
}
#moreContro:after,
#moreContro li:after{
    position: absolute;
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    z-index: 15;
    display: block;
    width: 100%;
    height: 1px;
    content: '';
    background-color: #e7e7e7;
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    #moreContro:after,
    #moreContro li:after {
        -webkit-transform: scaleY(.5);
        -ms-transform: scaleY(.5);
        -o-transform: scaleY(.5);
        transform: scaleY(.5);
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 3) {
    #moreContro:after,
    #moreContro li:after{
        -webkit-transform: scaleY(.33);
        -ms-transform: scaleY(.33);
        -o-transform: scaleY(.33);
        transform: scaleY(.33);
    }
}
#moreContro li{
    display: -webkit-flex; /* Safari */
    display: flex;
    height:5.5rem;
    width: 100%;
    padding-right: 0;
    transition-property: margin-left, height;
    transition-duration:0.2s,0.3s;
}
#moreContro .leftmore{
    display: inline-block;
    width:1.45rem;
    height:100%;
}
#moreContro .rightmore{
    margin-left: 0.5rem;
    -webkit-flex:1;
    flex:1;
}
#moreContro div.rightmore div{
    display: -webkit-flex; /* Safari */
    display: flex;
}
#moreContro div.rightmore .morename{
    padding:0 0 0 0.25rem;
    width:95%;
}
#moreContro div.rightmore div input{
    -webkit-flex:1;
    flex:1;
}
#moreContro div.rightmore input{
    height:1.5rem;
    margin:0.625rem 0.375rem 0.5rem;
    background-color: #e6e6e6;
}
#moreContro div.right-silde{
    right: -5.25rem;
    position: absolute;
    height:100%;
    width:4.5rem;
    color: #fff;
    background-color: red;
    text-align: center;
    line-height: 5.5rem;
}
#myUpload .jx-pop ul li{
}
#ok{
    display: none;
}
.list-block textarea{
    height:2.15rem;
    padding:0 0 0 .25rem;
    line-height: 2.15rem;
    font-size: 0.7rem;
}
#editGoods .jx-pop .content-title,
#myUpload .jx-pop .content-title{
    height:0;
}
#editGoods  .list-block .item-after,
#myUpload .list-block .item-after{
    color: #323232;
}
#productDetail{
    height:4.3rem;
    line-height: 1.1rem;
    padding: 0.65rem  0.25rem;
}
.deteailinner.item-inner{
    -webkit-align-items:baseline;
            align-items:baseline;
}

/*******************myUpload style end************************/
/*******************voucherManer strat***************************/
.viewvoucher{
    margin: .5rem 0;
    background-color: #fff;
}
.viewvoucher ul{
    padding:0 0.75rem;
}
.viewvoucher ul li{
    height:3rem;
    line-height: 3rem;
    border-bottom: 1px #eaeaea solid;
    font-size: 0.7rem;
    color: #323232;
}
.viewvoucher ul li:last-child{
    border-bottom: none;
}
.viewvoucher ul li .money{
    color: #f1601f;
    font-weight: 600;
}
.fb {
    font-weight: 500
}
/*******************voucherManer strat***************************/
.search-no-data-2{
    color: #969696;
    font-size: 0.65rem;
    width:100%;
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 0.75rem;
}
/************样式修改**************/
.titletype:after,
.titletype.active:before{
    content: none;
}
